# Исключение каталога виртуальной среды
venv/
*.env

# Исключение настроек редактора
.vscode/

# Исключение скомпилированных и временных файлов
__pycache__/
*.pyc

# Исключение статических и медиафайлов
static/
media/